h1{
color: white;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 120px;
}

h2{
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;

}

h3{
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
}



body {
  background-image: url("/Users/evie/Documents/LearningToCode/CodeFirstGirlsBeginners/practise/20112017/images/IMG_0522.jpg");
  background-size:cover;
  background-attachment: fixed;
}
